/*
    стили для окна в digital-pipeline
*/
.widget_settings_block__controls__custom.text-input.reon-leads-clevertask-widget__settings-text-input {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
